<%- include('./partials/header') %>
    <h2><%=driver.firstname%> <%=driver.name%></h2>
    <img class="driver_imgs" src="/images/pilotes/<%=driver.number%>.png">
    
    <h2><%=driver.points%> points</h2>
<%- include('./partials/footer') %>