<%- include('./partials/header') %>
    <div class="div_driver">
        <table class="driver_infos">
            <tbody>
                <tr>
                    <td>Naissance</td>
                    <td><%=driver.birthday%></td>
                </tr>
                <tr>
                    <td>Lieu de naissance</td>
                    <td><%=driver.birthday_place%></td>
                </tr>
                <tr>
                    <td>Nationalité</td>
                    <td><%=driver.nationality%></td>
                </tr>
                <tr>
                    <td>participations</td>
                    <td><%=driver.participations%></td>
                </tr>
                <tr>
                    <td>podiums</td>
                    <td><%=driver.podiums%></td>
                </tr>
                <tr>
                    <td>Victoires</td>
                    <td><%=driver.wins%></td>
                </tr>
                <tr>
                    <td>Points</td>
                    <td><%=driver.points%></td>
                </tr>
                <tr>
                    <td>Meilleure position en qualification</td>
                    <td><%=driver.highest_grid_position%></td>
                </tr>
                <tr>
                    <td>Meilleure position en course</td>
                    <td><%=driver.highest_race_finish%></td>
                </tr>
                <tr>
                    <td>Championnat du monde</td>
                    <td><%=driver.world_championships%></td>
                </tr>
            </tbody>
        </table>
        <div class="">
            <img class="driver_imgs" src="/images/pilotes/<%=driver.number%>.png">
            <h1><%=driver.firstname%> <%=driver.name%> <%=driver.number%></h1>
            <a href="/team/<%= driver.team_id %>"><h2><%=driver.team_name%></h2></a>
        </div>
    </div>
<%- include('./partials/footer') %>