<%- include('./partials/header') %>
    <div id="home_container">
        <div class="drivers_div">
            <h2 class="title_classement ">Classement pilotes</h2>
            <% let driverRank = 1%>
            <% for (const driver of drivers) { %>
                <a href="/driver/<%= driver.id %>">
                    <div class="driver_div">
                        <h2 class=""><%=driverRank%>. <%=driver.firstname%> <%=driver.name%></h2>
                        <img class="home_driver_imgs" src="/images/pilotes/<%=driver.number%>.png">
                        <h2 class=""><%=driver.points%> points</h2>
                        <% driverRank += 1%>
                    </div>
                </a>
            <% } %>
            <a href="/rankdrivers" class="btn_rankdrivers">Voir tout</a>
        </div>
        <div class="teams_div">
            <h2 class="title_classement">Classement constructeurs</h2>
            <!-- <% let teamRank = 1%> -->
            <% for (const team of teams) { %>
                <a href="/team/<%= team.id %>">
                    <div class="team_div">
                        <h2 class="team_ranks"><%=teamRank%></h2>
                        <img class="team_imgs" src="/images/equipes/minilogo/<%=team.id%>.png">
                        <h3 class="team_names"><%=team.name%></h3>
                        <h2 class="team_points"><%=team.points%> points</h2>
                        <% teamRank += 1%>
                    </div>
                </a>
            <% } %>
        </div>
    </div>
    <h2 class="title_circuit">Circuits</h2>
    <div class="circuits_div">
        <% for (const circuit of circuits) { %>
            <div class="circuit_div">
                <h2><%=circuit.name%></h2>
                <h3><%=circuit.country%></h3>
            </div>
        <% } %>
    </div>
<%- include('./partials/footer') %>