<%- include('./partials/header') %>
<div class="drivers_div">
    <h2 class="title_classement">Classement pilotes</h2>
    <% let driverRank = 1%>
    <% for (const driver of drivers) { %>
        <a href="/driver/<%= driver.id %>">
            <div class="rank_driver">
                <h2><%=driverRank%></h2>
                <img class="rank_driver_imgs" src="/images/pilotes/<%=driver.number%>.png">
                <h2><%=driver.firstname%> <%=driver.name%></h2>
                <h2><%=driver.points%> points</h2>
                <% driverRank += 1%>
            </div>
        </a>
    <% } %>
</div>
<%- include('./partials/footer') %>