<%- include('./partials/header') %>

<div class="team_logos">
    <img src="/images/equipes/logo/<%= team[0].id %>.png ">
    <img src="/images/equipes/voiture/<%= team[0].id %>.png ">
</div>
<table class="team_infos">
    <tbody>
        <tr>
            <td>Directeur</td>
            <td><%=team[0].chief%></td>
        </tr>
        <tr>
            <td>Première participation</td>
            <td><%=team[0].first_time%></td>
        </tr>
        <tr>
            <td>Victoires</td>
            <td><%=team[0].wins%></td>
        </tr>
        <tr>
            <td>Championnat du monde</td>
            <td><%=team[0].world_championships%></td>
        </tr>
        <tr>
            <td>Premier pilote</td>
            <td><%=team[1].driver_firstname%> <%=team[1].driver_name%></td>
        </tr>
        <tr>
            <td>Second pilote</td>
            <td><%=team[0].driver_firstname%> <%=team[0].driver_name%></td>
        </tr>
    </tbody>
</table>
<%- include('./partials/footer') %>